[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
sqlalchemy = "*"
wtforms = "*"

[requires]
python_version = "3.7"
